body {
    font-family: 'Fira Sans', sans-serif;
}

input {
    /* column-span: all; */
    padding: 1em;
    margin: .3rem;
}

h2 {
    color: #010e1f;
}

h1 {
    color: #005b95;
    text-align: center;
}

h3 {
    color: #7c1e3b;
}

h4{
    color: #e02340;
}

h5{
    color: #333;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    max-width: 50%;
}

#desc {
    background-color: #dfe6ea;
    margin: 0.5em;
}

table.metainfoseq {
    border: 0.1px solid #333;
    /* display: block; */
    margin-top: 5pc;
    width: 50%;
    margin-left: auto;
    text-align: center;
    border-collapse: collapse;
    margin-right: auto;
}

table.metainfoseq td {
    border: 0.1px solid #333;
}

thead.metainfoseq_head {
    background-color: whitesmoke;
    color: #e02340;
}

#row-head {
    color: grey;
}

.fix{
    background-color: #eafbea;
}

.buggy{
    background-color: #f4dada;
}